.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background: #f8f9fa;
}

@media screen and (max-width:440px) {
  .navbar-brand {
    display:none;
  }
}